fastapi
uvicorn
pymysql
sqlalchemy
boto3
python-multipart
pymysql
pydantic[email]
passlib[bcrypt]
python-dotenv
cryptography
boto3
python-multipart
dotenv
torch
openai
Pillow
git+https://github.com/openai/CLIP.git
requests